@page "/error"
@layout MainLayout

<PageTitle>Error - RSL</PageTitle>

<div class="error-page">
    <h1>Oops!</h1>
    <h2>Something went wrong</h2>
    <p>An error occurred while processing your request. Please try again.</p>
    <a href="/" class="btn-primary">Go Home</a>
</div>
